@font-face{
    font-family: 'Cambria';
    src: url("../fonts/cambria.ttc");
    font-style: normal; 
    font-weight: normal; 
    font-display: swap;
    }

@font-face{
    font-family: 'Cambria-Bold';
    src: url("../fonts/cambriab.ttf");
    font-style: normal; 
    font-weight: normal; 
    font-display: swap;
    }

@font-face{
    font-family: "ArialMT";
    src: url("../fonts/ArialMT.ttf");
    font-style: normal; 
    font-weight: normal;
    font-display: swap; 
    }